@media (min-width: 65em) {
.padding-50{
  padding: 50px 0px;
}
.margin-50{
    margin:0px 50px;
  }
.margin-button-120{
    margin-bottom: 120px;
}
.main-color{
  color: #F3F3F3;
}
.main-bg-color{
  background-color: #006064;
}
.height-80{
  height:80px;
}
.height-50{
  height: 50px;
}
.width-25{
    width: 25% ;
  }
.margin-top-20{
  margin-top: 20px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.btn-main{
  background-color: #F3F3F3;
}
.black{
  color:#333;
}
ul{
  list-style-type: none;
}
.margin-left-20{
  margin-left: 20px;
}
.margin-left-40{
  margin-left: 40px;
}

.a:hover{
  color:white;
  background-color: grey;
  /* text-shadow: 2px 2px 1px #222; */
  box-shadow: 3px 3px 4px #222;
  border-radius: 8px;
}
.link{
  text-shadow: 2px 2px 1px #222;

}
.link:hover{
  text-shadow: 6px 6px 3px #222;
  cursor: pointer;
}
.git:hover {
  color: white;

}
img{
  position: relative;
  top:100px;
}
}

@media (min-width: 0em) and (max-width: 65em) {
  .main-color{
    color: #F3F3F3;
  }
  .main-bg-color{
    background-color: #006064;
  }
  .height-80{
    height:80px;
  }
  .height-50{
    height: 50px;
  }
  .width-25{
    width: 25% ;
  }

  .margin-top-20{
    margin-top: 20px;
  }
  .margin-bottom-20{
  margin-bottom: 20px;
}
  .btn-main{
    background-color: #F3F3F3;
  }
  .black{
    color:#333;
  }
  ul{
    list-style-type: none;
  }
  .margin-left-20{
    margin-left: 20px;
  }

  .a:hover{
    color:white;
    background-color: grey;
    /* text-shadow: 2px 2px 1px #222; */
    box-shadow: 3px 3px 4px #222;
    border-radius: 8px;
  }
  .link{
    text-shadow: 2px 2px 1px #222;

  }
  .link:hover{
    text-shadow: 6px 6px 3px #222;
    cursor: pointer;
  }
  .git:hover {
    color: white;

  }
  .margin-50{
    margin:0px 50px;
  }
  .margin-left-40{
  margin-left: 40px;
}

}
